
/* borders and corners */
.roundedCorners {
  border-radius: 30px;
}

.noBorder {
  border: none;
}

.blackBorder {
  border: 2px solid black;
}

.darkGreyBorder {
  border: 2px solid #333
}

.blur {
  box-shadow: 5px 5px 5px darkgray;
}

.testBorder {
  border: 1px solid red;
}

/* background colors */
.whiteBackground {
  background-color: white;
}

.redBackground {
  background-color: #FF5A5F;
}

/* text styles */
.sans {
  font-family: sans-serif;
}

.blackText {
  color: black;
}

.redText {
  color: #FF5A5F;
}

.redTextLink {
  color: #FF5A5F;
}

.redTextLink:hover {
  color: rgb(196, 68, 68);
  font-weight: bold;
}

.darkGreyText {
  color: #999999;
}

.lightGreyText {
  color: #333333;
}

.textAlignCenter {
  text-align: center;
}

.xlargeFont {
  font-size: 40px;
}

.largeFont {
  font-size: 24px;
}

.mediumFont {
  font-size: 18px;
}

.smallFont {
  font-size: normal;
}

.tinyFont {
  font-size: 6px;
}

.noDecoration {
  text-decoration: none;
}

/* padding and margins */
.noPadding {
  padding: 0px;
}

.fullPadding {
  padding: 10px;
}

.topPadding {
  padding-top: 5px;
}


.leftAndRightPadding {
  padding-left: 10px;
  padding-right: 10px;
}

.leftPageBorder {
  margin-left: 50px;
}

.bottomPageBorder {
  margin-bottom: 75px;
}

.littleBottomBorder {
  margin-bottom: 30px;
}

.rightPageBorder {
  margin-right: 50px;
}

.littleTopMargin {
  margin-top: 5px;
}

.topMargin {
  margin-top: 15px;
}

.extraTopMargin {
  margin-top: 40px;
}

.leftMargin {
  margin-left: 20px;
}

.littleLeftMargin {
  margin-left: 5px;
}

.rightMargin {
  margin-right: 20px;
}

.noMargin {
  margin: 0px;
}

.fullMargin {
  margin: 10px;
}

.leftAndRightMargin {
  margin-left: 10px;
  margin-right: 10px;
}

/* general size of things */
.smallSize {
  width: 10%;
}

.mediumSize {
  width: 25%;
}

.largeSize {
  width: 50%;
}

.xlargeSize {
  width: 75%;
}

.fullSize {
  width: 100%;
}

.averageHeight {
  height: 100px;
}

/* misc stylings */
body {
  background-color: #FFFFFF;
}

.displayFlex {
  display: flex;
}

.displayGrid {
  display: grid;
}

.displayInline {
  display: inline;
}

.displayInlineBlock {
  display: inline-block;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

.alignCenter {
  align-items: center;
}

.alignLeft {
  align-items: left;
}

.alignBottom {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyRight {
  justify-content: right;
}

.flexBasisFull {
  flex-basis: 100%;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.borderBox {
  box-sizing: border-box;
}

/* adaptive things */
@media only screen and (max-width: 800px) {
  .photoBox {
    flex-basis: 100%;
  }
}

.bringToFront {
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* whole item designs */
.activeButtonDesign {
  background-color: #FF5A5F;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
  color: white;
  border: solid, 1px, black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 30px;
}

.activeButtonDesign:hover {
  background-color: rgb(196, 68, 68);
}

.inactiveButtonDesign {
  background-color: #333333;
  font-size: 16px;
  text-align: center;
  cursor: not-allowed;
  font-family: sans-serif;
  color: #999999;
  border: solid, 1px, black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 30px;
}

.cursorPointer {
  cursor: pointer;
}

.visibilityHidden {
  visibility: hidden;
}

.reviewsModalForcedWidth {
  width: 500px;
}




input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 30px;
  border-color: #CCCCCC;
}

input:hover {
  background-color: #CCCCCC;
}

input:focus {
  background-color: rgb(238, 238, 238);
}

label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: regular;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  resize: none;
}

hr.solid {
  border-top: 3px solid #bbb;
}
