.logo {
  height: 70px;
  width: 110px;
}

.navBar {
  height: 70px;
  margin: 0;
  /* overflow: hidden; */
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid 2px #999999;
  display: flex;
  justify-content: space-between;
  align-items: bottom;
}

.navLink {
  text-decoration: none;
  border: none;
  font-size: normal;
  font-family: sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.profileButton {
  background-color: white;
  display: flex;
  justify-items: center;
  /* border: 1px solid red;  */
  /* make border: none when done testing to override global style of buttons */
  color: #333333;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.profileButton:hover {
  background-color: white;
}

.profileMenu {
  font-size: normal;
  font-family: sans-serif;
  background-color: white;
  margin-right: 0px;
  margin-top: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileMenuHidden {
  visibility: hidden;
  padding: 15px;
  margin-right: 0px;
  margin-top: 5px;
}